.todosList {
  line-height: 1.5;
  list-style-type: none;
}

input[name="todoToggle"] {
  margin-right: 1em;
}

.todo--completed {
  color: #666;
  text-decoration-line: line-through;
  font-style: italic;
}
